.home-page {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  h1 {
    display: block;
    color: #000;
  }
  .image-container {
    text-align: center;
    img {
      width: 300px;
      height: 300px;
      border-radius: 50%;
    }
  }
  .text-container {
    p {
    }
  }
}
