.home-page {
  position: relative;
  h1 {
    position: absolute;
    z-index: 10;
    color: #fff;
    top: 10vh;
    left: 50vh;
    padding: 15px;
    border-radius: 10px;
    background-color: #1a1919;
  }
}
