@import "./shared/fonts";

//PAGES
@import "./index.scss";
@import "./portfolio.scss";

//COMPONENTS
@import "./header.scss";
@import "./carousel.scss";
@import "./workList.scss";

html,
body {
  font-family: "Montserrat", "Helvetica";
  padding: 0;
  margin: 0;
}
body {
  min-height: 100vh;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5 {
  text-align: center;
}
.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.page-container {
  flex: 1 0 auto;
}

footer {
  flex: 0 0 auto;
}
.absolute {
  position: absolute;
}
.clickable {
  cursor: pointer;
}
.activeLink {
  font-weight: bold;
}
