//PAGES
@use 'index.scss';
@use 'portfolio.scss';
@use 'id.scss';

//COMPONENTS
@use 'header.scss';
@use 'carousel.scss';
@use 'workList.scss';

html,
body {
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
}
body {
  min-height: 100vh;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5 {
  text-align: center;
}
.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.page-container {
  flex: 1 0 auto;
}

footer {
  flex: 0 0 auto;
}
.absolute {
  position: absolute;
}
.clickable {
  cursor: pointer;
}
